@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(0,121,191);
    font-family: 'Mulish', sans-serif;
    
}
.container{
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.list{
    width: 25%;
    background-color: rgb(235,236,240);
    margin: 4.15%;
    border-radius: 10px;
    Box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.list h1{
    width: 87%;
    font-size: 1.3rem;
    padding: 5px;
    margin: 0;
    /* justify-content: start; */
}
.card-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(31, 31, 31);
}
#card{
    width: 100%;
    
    background-color: white;
    box-shadow: 0 2px 2px -2px gray;
    margin: 3px 0;
    padding: 3px;
    font-size: 17px;
    border-radius: 3px;
    max-lines: 1;
    overflow: hidden;
}
#card:hover{
    background-color:rgb(218,219,226);;
}
.add-card{
    width: 90%;
    padding:5px 2px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.add-card:hover{
    background-color: rgb(218,219,226);
}